/* src/components/Story/Story.css */
.Story{
  width: 100%;
  border-top: 1px solid rgba(255,255,255, 0.1);
  padding: 0.75rem 0;
  position: relative;
}
.Story:last-of-type{
  border-bottom: 1px solid rgba(255,255,255, 0.1);
}
.Story .Header{
  max-width: 90%;
}
.Story .Title{
  margin: 0rem 0.5rem 0 0;
  font-size: 1.25rem;
}
.Story .Source{
  font-size: 0.8rem;
}
.Story .Meta{
  margin: 0.5rem 0;
  font-size: 0.85rem;
  display: flex;
  flex-shrink: 0;

}
.Story .Meta .MetaItem{
  margin-right: 1rem;
  background: transparent;
  border: 0;
  padding: 0;
  color: white;
}
.Story .Meta .MetaItem.is-active{
  color: #ff5800;
}
.Story a{
  transition: all 0.2s ease-in-out;
}
.Story a:visited{
  color: gray;
}
a.MetaItem:hover,
.Story a:hover, .Story a:visited:hover,
.Story a:focus, .Story a:visited:focus{
  opacity: 0.6;
  cursor: pointer;
}


