/* src/components/Story/Story.css */
.Story{
  border-top: 1px solid rgba(255,255,255, 0.1);
  padding: 0.75rem 0.2rem 0.75rem 1rem;
  position: relative;
  background: #252525;
}
.Story:last-of-type{
  border-bottom: 1px solid rgba(255,255,255, 0.1);
}
.Story .Title{
  margin: 0rem 0.5rem 0 0;
  font-size: 1.25rem;
}
.Story .Source{
  font-size: 0.8rem;
}
.Story .Meta{
  margin: 0.1rem 0 0rem;
  font-size: 0.85rem;
  font-weight: 300;
}
.Story .Meta .MetaItem{
  margin-right: 1rem;
  background: transparent;
  border: 0;
  padding: 0;
  color: white;
}
.Story a{
}
.Story a:focus,
.Story a:hover,
.Story a:visited{
  color: gray;
}
.Story .Meta a{
  border-bottom: 1px solid;
 }
.Story a:hover, .Story a:visited:hover,
.Story a:focus, .Story a:visited:focus{
  /*opacity: 0.6;*/
  cursor: pointer;
}


