/* src/components/Navbar/Navbar.css */
.Navbar{
  background: #3A3A3A;
  color: white;
  width: 100%;
}
.Navbar .Menu{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1185rem;
  font-weight: 400;
  max-width: 800px;
  margin: 0 auto;
}
.Navbar .Logo{
  width: 1.8rem;
  height: auto;
  border: 2px solid;
  opacity: 0.95;
  margin-left: 1rem;
}
.Navbar .Navigation{
  display: flex;
  list-style-type: none;
  padding-left: 1.3rem
}
.Navbar .Navigation li{
  margin-right: 0.7rem
}
.Navbar .Navigation .active{
  border-bottom: 1px solid;
  color: #f45602;
  opacity: 0.9;
 }



