@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:700,300');
html{
  overflow-y: scroll;
}
body{
  background: #1B1B1B;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  color: white;
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: white;
}
strong{
  font-weight: 700;
}
main{
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 3rem;
  position: relative;
}
.Loading-caption{
  font-weight: 300;
  text-align: center;
  margin-top: 1rem;
}
.List-manager{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #252525;
  background: #3A3A3A;
  height: 3rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 800px;
  font-size: 0.95rem;
  font-weight: 300;
}
.List-manager a{
  padding: 0;
  border: none;  
  background: transparent;
  color: white;
  cursor: pointer;
  outline: none;
}
.List-manager a:hover{
  color: gray;
}
.List-manager span{
  margin: 0 0.625rem;
}
